* {box-sizing: border-box; -webkit-box-sizing: border-box;}
html {width: 100%}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Rows */
.row {
  width:100%;
  display: flex; 
  flex-direction: row;
}

/* Columns */
.col {
  width:100%;
  display: flex;
  flex-direction: column;
}

/* Flex sizes */
.f-s0 {flex: 0}
.f-s1 {flex: 1}
.f-s2 {flex: 2}
.f-s3 {flex: 3}
.f-s4 {flex: 4}
.f-s6 {flex: 6}
.f-s7 {flex: 7}
.f-s8 {flex: 8}
.f-s10 {flex: 10}
.f-s12 {flex: 12}

@media(min-width: 600px) {
  .f-m1 {flex: 1}
  .f-m2 {flex: 2}
  .f-m3 {flex: 3}
  .f-m4 {flex: 4}
  .f-m6 {flex: 6}
  .f-m8 {flex: 8}
  .f-m12 {flex: 12}
}

@media(min-width: 992px) {
  .f-l1 {flex: 1}
  .f-l2 {flex: 2}
  .f-l3 {flex: 3}
  .f-l4 {flex: 4}
  .f-l6 {flex: 6}
  .f-l8 {flex: 8}
  .f-l12 {flex: 12}
}

@media(min-width: 1200px) {
  .f-xl1 {flex: 1}
  .f-xl2 {flex: 2}
  .f-xl3 {flex: 3}
  .f-xl4 {flex: 4}
  .f-xl6 {flex: 6}
  .f-xl8 {flex: 8}
  .f-xl12 {flex: 12}
}

/* Padding */
.p-s4 {padding: 0.25rem}
.p-s8 {padding: 0.5rem}
.p-s12 {padding: 0.75rem}
.p-s16 {padding: 1rem}
.p-s20 {padding: 1.25rem}
.p-s24 {padding: 1.5rem}
.p-s32 {padding: 2rem}
.p-h-s16 {padding-left: 1rem; padding-right: 1rem;}
.p-v-s16 {padding-top: 1rem; padding-bottom: 1rem;}
.p-v-s24 {padding-top: 1.5rem; padding-bottom: 1.5rem;}

/* Margin */
.m-s4 {margin: 0.25rem}
.m-s8 {margin: 0.5rem}
.m-s12 {margin: 0.75rem}
.m-s16 {margin: 1rem}
.m-s20 {margin: 1.25rem}
.m-s24 {margin: 1.5rem}
.m-s32 {margin: 2rem}
.m-h-s16 {margin-left: 1rem; margin-right: 1rem;}
.m-v-s16 {margin-top: 1rem; margin-bottom: 1rem;}

/* Absolute Positions */
.fixed-top {position: fixed; top: 0; left: 0}

/* Cursor */
.pointer {cursor: pointer;}

/* Height */
.h-20-rem{height: 20rem;}

/* Width */
.w-100-per{width: 100%;}

/* Colors */
.pink-bg{background-color: #EA3F95;}
.pink-col{color: #EA3F95;}
.purple-bg{background-color: #732B8F;}
.purple-col{color: #732B8F;}
.darkgrey-bg{background-color: #707070;}
.darkgrey-col{color: #707070;}
.lightgrey-bg{background-color: #F5F3EE;}
.lightgrey-col{color: #F5F3EE;}

/* Overflow */
.overflow-auto{overflow: auto;}


/* TA bort */
#App {
  width: 800px;
  height: 100%;
  
  flex-direction: column;
}
#MainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
#InnerContainer {
  display: flex;
  flex-direction: row;
}
.CapUp{text-transform: uppercase; }
.CapDown{text-transform: none;}

.HeaderM{margin: 0; padding: 0; text-transform: uppercase; color: #252525}
